body {
  font-size: 16px;
  background: #121212;
  color: #f4f6f7;
  font-family: 'Indie Flower'; }

p {
  margin: 0px; }

h2 {
  font-weight: 500;
  margin: 0px;
  color: #bb8fce; }

h3 {
  font-weight: 500;
  margin: 0px;
  font-size: 3.5rem;
  color: #bb8fce; }

.link {
  text-decoration: underline;
  color: #f4f6f7; }
  .link:hover {
    color: #bb8fce; }
